<!DOCTYPE html>
<html>
  <head>
    <title>Otakunepal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render partial: 'layouts/navbar'%>
    <%= render 'layouts/messages' %>
    <%= render partial: 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
	